{% extends "/templates/base.html" %}
{%  block title %}{{ article.title[:50] }}{% endblock %}
{%  block main_container %}
        <div class="row-fluid">

            <div id="ar_body" class="span8 offset2">
            {% include "/templates/resources/followme_buttons.html" %}
                <header class="fun" style="text-align: center">
                    <h1 id="ar_huge">{{ article.title }}</h1>
                    {{ article.pub_date.strftime('%d %b %y') }}
                </header>

                <article>
                {{ article.body_html }}
                </article>

                <br>
                <br>

                <footer>
                {% include "/templates/resources/share_buttons.html" %}



                </footer>

            </div>

        </div>
    <div class="row-fluid">

        <div id="ar_comments" class="span8 offset2">

        {% include "/templates/resources/disqus.html" %}


        </div>

    </div>


{%  endblock %}