{% for article in results %}
<div data-url="/posts/{{ article.slug }}" class="ar">
    <div class="ar_title"><a href="posts/{{ article.slug }}">{{ article.title }}</a></div>
        {% if article.snip %}<p>{{ article.snip }}</p>{% endif %}
    <div class="ar_details">{{ article.pub_date.strftime('%d %b %y') }}
        <span class="spc">|</span>{{ article.word_count }} words
    </div>
</div>
{% endfor %}
{% if count == 10 %}<div class="eb" style="text-align: center;"><button class="show_more btn btn-large btn-primary" data-offset="{{ offset }}">Show More</button></div>{% endif %}