{% extends "/templates/base.html" %}
{%  block title %}{% if title %}{{ title }}{% else %}Home{% endif %}{% endblock %}
{%  block main_container %}



            <div class="row-fluid">
                <div id="sidebar" class="span4">
                        {%  if random_picture_key %}
                        <div id="sidebar_inner" data-random_picture_key="{{ random_picture_key }}" data-random_picture_path="{{ random_picture_path }}">
{#                            <img class="unique_pic" src="http://eblahm.appspot.com/pic/sbar?p=264&h=790&w=370">#}
                        </div>
                        {% endif %}
                </div>
                <div class="span8">
                    {% for article in results %}
                    <div data-url="/posts/{{ article.slug }}" class="ar">
                        <div class="ar_title"><a href="posts/{{ article.slug }}">{{ article.title }}</a></div>
                            {% if article.snip %}<p>{{ article.snip }}</p>{% endif %}
                        <div class="ar_details">{{ article.pub_date.strftime('%d %b %y') }}
                            <span class="spc">|</span>{{ article.word_count }} words

{#       {% if article.tags %}<span class="spc">|</span> <i class="icon-tags"></i> {% for tag in article.tags %}{{ tag }} {% endfor %}{% endif %}#}

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>


{%  endblock %}