{% extends "/templates/base.html" %}
{%  block main_container %}
            <div class="row-fluid">
                <div id="sidebar" class="span4">
                        {%  if random_picture_key %}
                        <div id="sidebar_inner" data-key="{{ random_picture_key }}" data-title="{{ random_picture_title|e }}">
                        </div>
                        {% endif %}
                </div>

                <div id="feed" class="span8" style="padding-bottom: 50px">
                    {% if tag %}<h3 class="fun">posts tagged with <em>"{{ tag }}"</em>:</h3>{% endif %}
                    {% if term %}<h3 class="fun">search results for: <em>{{ term }}</em>:</h3>{% endif %}

                    {% if count > 0 %}
                        {% include "/templates/main/article_links.html" %}
                    {% else %}
                        <h1 class="ar_title"> your search returned zero results! Sorry :(</h1>
                    {% endif %}

                </div>

            </div>


{%  endblock %}