{% extends "/templates/base.html" %}

{%  block main_container %}
    <table id="admin_table" class="table">
    <thead>
    <tr>
        <th>pubDate</th>
        <th>Title</th>
        <th>Tags</th>
        <th>Status</th>
        <th>Last Updated</th>
        <th>edit</th>
    </tr>
    </thead>
        {% for a in articles %}
        <tr>
            <th>{% if a.pub_date %}{{ a.pub_date.strftime("%d %b %y") }}{%  endif %}</th>
            <th>{{ a.title }}</th>
            <th>{{ a.tags }}</th>
            <th>{{ a.status }}</th>
            <th>{{ a.last_updated.strftime("%d %b %y") }}</th>
            <th><a href="/admin/sync?a=repost&path={{ a.path }}&modified={{ a.last_updated.strftime("%Y-%m-%dT%H:%M:%S") }}&rev={{ a.rev }}">repost</a></th>
        </tr>
        {% endfor %}
    </table>

{%  endblock %}