
<table>
    <tr>
        <td >
            <a href="/rss"><img src="/img/social/rss.png" alt="rss"/></a>
        </td>
        {% if twitter_handle %}

        <td>
            <a href="https://twitter.com/{{ twitter_handle }}" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow me </a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </td>
        {% endif %}
        {% if adn_handle %}
        <td>
            <a href='https://alpha.app.net/{{ adn_handle.replace("@", "") }}' class='adn-button' target='_blank' data-type='follow' data-width='295' data-height='20' data-user-id='@{{ adn_handle.replace("@", "") }}' data-show-username='0' rel='me'>Follow me on App.net</a>
            <script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='//d2zh9g63fcvyrq.cloudfront.net/adn.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'adn-button-js'));</script>
        </td>
        {% endif %}

    </tr>
</table>