<div id="pover" style="text-align:center">
    {% if gplus %} <a href="{{ gplus }}"><img src="/img/social/gplus.png" alt="gplus"/></a>{% endif %}
    {% if youtube %} <a href="{{ youtube }}"><img src="/img/social/youtube.png" alt="youtube"/></a>{% endif %}
    {% if facebook %} <a href="{{ facebook }}"><img src="/img/social/facebook.png" alt="facebook"/></a>{% endif %}
    {% if linkedin %} <a href="{{ linkedin }}"><img src="/img/social/linkedin.png" alt="linkedin"/></a>{% endif %}
    {% if twitter_handle %}<a href="http://twitter.com/{{ twitter_handle }}"><img src="/img/social/twitter.png" alt="twitter"/></a>{% endif %}
    {% if adn_handle %}<a href="https://alpha.app.net/{{ adn_handle }}"><img src="/img/social/app_net.png" alt="app_net"/></a>{% endif %}
    {% if kippt %}<a href="{{ kippt }}"><img src="/img/social/kippt.png" alt="kippt"/></a>{% endif %}
    {% if github %}<a href="{{ github }}"><img width="24px" src="/img/social/github.png" alt="github"/></a>{% endif %}
    {% if email %}<a href="mailto:{{ email }}" title="{{ email }}"><img width="24px" src="/img/social/email.png" alt="email"/></a> {% endif %}
</div>