<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog" >

<head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }} | {% endif %}{{ blog_title }}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link href="/rss" type="application/rss+xml" rel="alternate" title="{{ title }} RSS Feed" />

  {% block resources %}

    {% include "/templates/resources/fonts.html" %}
    {% include "/templates/resources/jquery.html" %}
    {% include "/templates/resources/twitter_bootstrap.html" %}
    {% include "/templates/resources/google_analytics.html" %}

    <script src="/js/main.js"></script>
    <link href="/css/style.css" rel="stylesheet">
        
  {% endblock %}

</head>

<body>
<div class="container-fluid">
    {% block navbar %}



                <div id="my_nav" class="row-fluid">
                    <div class="span4">
                        <span style="font-size:25px; font-family: 'Permanent Marker';"> <a href="/">{{ blog_title }} </a></span>
                        <span class="fun">
                             a blog by <span id="ptrig" data-placement="bottom" rel="popover" href="#" >{{ author }}</span>
                        </span>
                        <span id="social_links" style="display: none" data-html="{{ social_links|e }}"></span>
                    </div>
                    <div class="span4">
                        {% include "/templates/resources/followme_buttons.html" %}

                    </div>
                    <div class="span4">
                        <form id="search_form" method="GET" action="/search">
                            <input id="search" name="term" type="text" placeholder="Search..." >
                            <input style="display: none;" class="btn" type="submit" value="submit" />
                        </form>
                    </div>
               </div>

    {% endblock %}
</div>

    <div id="main_container" class="container-fluid">
        <div class="row-fluid" >
            <div class="span12">
            {% block main_container %}
                {{ dumb_content }}
            {% endblock %}
            </div>
        </div>
    </div>


</body>
</html>
